#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  width: 100%;
}

.logo {
  width: 5rem;
}

.game {
  width: 80vw;
  height: 80vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  position: relative;
}
.ball {
  width: 2%;
  height: 2%;
  border-radius: 2rem;
  background: black;
  position: absolute;
  transition: top 100ms linear, left 100ms linear; /* Define the transition */
  top: 0;
  left: 0;
}
.player-1,
.player-2 {
  height: 8%;
  width: 1%;
  top: 50%;
  position: absolute;
  top: 0;
  transition: top 100ms linear;
}

.player-1 {
  left: 0;
  background-color: blueviolet;
}
.player-2 {
  right: 0;
  background-color: burlywood;
}
